@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #0a0a0a; 
  color: #f5f5f5;      
}

.bg-checkerboard {
  background-color: #171717; 
  background-image:
    linear-gradient(45deg, #262626 25%, transparent 25%),
    linear-gradient(-45deg, #262626 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #262626 75%),
    linear-gradient(-45deg, transparent 75%, #262626 75%);
  background-size: 24px 24px;
  background-position: 0 0, 0 12px, 12px -12px, -12px 0px;
}